.vscode
**/.settings
**/.classpath
**/.project
**/target/classes
**/target/gen*
**/target/mav*
**/target/surefire-reports
**/target/test-classes
**/target/out
**/target/in/Rev*
**/target/in/Amazo*

gen.sh