<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to the Todo List Manager</h1>
    <p>Here you can see all existing tasks</p>
    <ul>
        {% for task in tasks %}
            {% if task["urgent"]==1 %}
                <li style="color: red">{{ task["todo"] }}. <a href="{{ url_for('delete_task', id=task["id"]) }}">Delete.</a></li>
            {%  else %}
                <li style="color: green">{{ task["todo"] }}. <a href="{{ url_for('delete_task', id=task["id"]) }}">Delete.</a></li>
            {% endif %}
        {% endfor %}
    </ul>
    <form method="post" action="{{ url_for('insert_task') }}">
        <label for="description">Insert a new task: </label>
        <input type="text" name="description" id="description" placeholder="Type here the new task"/>
        <label for="urgent">Urgent: </label>
        <input type="radio" name="urgent" id="urgent" />
        <button type="submit">Add</button>
    </form>

</body>
</html>