.vscode
**/.settings
**/.classpath
**/.project
**/target/classes
**/target/gen*
**/target/mav*
**/target/surefire-reports
**/target/test-classes
**/target/out

**/Full_*
**/Sample_*

gen.sh
run.sh
compile.sh
*.pdf